
  h2{
    color: #517ca4;
    font-weight: bold;
}

  td,p,td p {
    font-family: arial, sans-serif;
    font-size: 10px;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 3px;
  }
  h5,th{color: #5092cb;}
  th{
    font-size: 10px;
  }
 