.p-element{
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    z-index: 1;
    background-color: #fff;
    color: #517ca4;
  }
  