 <div class="card">
<p-menubar [model]="items">
        <ng-template pTemplate="start">
          <div routerLink="/">
            <img src="../assets/Images/logo.png" height="40" class="mr-2" alt="Attendee-App"/>
          </div>
        </ng-template>
        <ng-template pTemplate="end">
          <a *ngIf="!userRep || userRep.id <= 0"  class="approveCls" (click)="openNew()"><span class="lbl">Genehmigen </span> </a>
          <a  class="logoutCls" (click)="Logout()"><span class="userNameSpn">{{loginUserName}} </span>  <i class="pi pi-sign-out"></i></a>
        </ng-template>
  </p-menubar>
</div>


 <p-dialog [(visible)]="service.reportDialog" [style]="{ width: '50vw' }" header="Bestätigung der Zeiterfassung" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <app-report-approval-form></app-report-approval-form>
    </ng-template>
    
   <ng-template pTemplate="footer">
    <button pButton pRipple label="Später" icon="pi pi-times" class="p-button-text p-button-danger" (click)="hideDialog()"></button>
    <button pButton pRipple label="Bestätigen" icon="pi pi-check" class="p-button-text p-button-success" (click)="ApproveReport()"></button>
</ng-template> 
</p-dialog>  
