
<div class="field text-center">
    <p>
        Ich, <span class="font-bold text-red-500">{{loginUserName}}</span>, 
        bestätige hiermit, dass ich meine Zeiteinträge für den vorigen  Monat überprüft habe und bestätige, 
        dass sie meiner tatsächlichen Arbeitszeit entsprechen. 
        Alle Eintragungen wurden von mir persönlich vorgenommen und sind korrekt.
         </p>
</div>
<!-- <div class="field">
    <label for="notes">Notes</label>
    <textarea id="notes" pInputTextarea [(ngModel)]="service.report.notes" required rows="3" cols="20"></textarea>
</div> -->
