
      <div class="clock">
        <div class="hand hours" [style.transform]="'rotate(' + hRotationValue + 'deg)'"></div>
        <div class="hand minutes" [style.transform]="'rotate(' + mRotationValue + 'deg)'"></div>
        <div class="hand seconds" [style.transform]="'rotate(' + sRotationValue + 'deg)'"></div>
        <div class="point"></div>
        <div class="marker">
          <span class="marker__1"></span>
          <span class="marker__2"></span>
          <span class="marker__3"></span>
          <span class="marker__4"></span>
        </div>
      </div>
    