<p-toast></p-toast>
<div style="min-width: 85vw;">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <h2>Statusübersicht</h2>
        </ng-template>
    </p-toolbar>
    <div class="grid">
        <div *ngFor="let user of service.userStatus" class="col-12 md:col-4 lg:col-3">
            <p-card [style]="{ background:user.status==1? 'rgba(219, 234, 254, 0.7)'
            : user.status==2?'rgba(228, 248, 240, 0.7)'
            :user.status==3?'rgba(255, 242, 226, 0.7)':'rgba(255, 231, 230, 0.7)'}">
                <ng-template pTemplate="header">
                    <div class="flex justify-content-between gap-2 p-3">
                        <p-avatar [label]="user.title" styleClass="mr-2 font-bold bg-white" size="xlarge" shape="circle"
                            [ngClass]="user.status==1?'text-primary'
                            :user.status==2?'text-green-500':user.status==3?'text-orange-500':'text-red-500'">
                        </p-avatar>
                        
                        <p-button icon="pi pi-ellipsis-h" [rounded]="true" [text]="true"
                            (onClick)="GetAttendance(user.id,user.name)"></p-button>
                    </div>
                    <div *ngIf="user.userAttendance" class="flex justify-content-between gap-2 p-3">
                        <span *ngIf="user.userAttendance.startDay"><i
                                class="pi pi-play text-green-500 hover:text-green-700"></i>
                            {{user.userAttendance?.startDay | date:'HH:mm'}}</span>
                        <span *ngIf="user.userAttendance.startBreak"><i
                                class="pi pi-pause text-orange-500 hover:text-orange-700"></i>
                            {{user.userAttendance?.startBreak| date:'HH:mm'}}</span>
                        <span *ngIf="user.userAttendance.endBreak"><i
                                class="pi pi-replay text-cyan-500 hover:text-cyan-700"></i>
                            {{user.userAttendance?.endBreak| date:'HH:mm'}}</span>
                        <span *ngIf="user.userAttendance.endDay"><i
                                class="pi pi-stop text-red-500 hover:text-red-700"></i> {{user.userAttendance?.endDay|
                            date:'HH:mm'}}</span>
                    </div>
                </ng-template>
                <div class="card flex gap-2">
                    <p-tag
                        [severity]="user.status==1?'Primary':user.status==2?'success':user.status==3?'warning':'danger'"
                        [value]="user.status==1?'OffLine':user.status==2?'Active':user.status==3?'OnBreak':'EndDay'">
                    </p-tag>
                </div>
                <p class="m-0 font-bold"
                [ngClass]="user.status==1?'text-primary'
                :user.status==2?'text-green-500':user.status==3?'text-orange-500':'text-red-500'">
                    {{user.name}}
                </p> 
            </p-card>
        </div>
    </div>
</div>
<p-dialog [(visible)]="attndService.attenDialog" [style]="{ width: '50vw' }" header="Attendance Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <app-attendance-form [userEdit]="true"></app-attendance-form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
            (click)="saveAttendance()"></button>
    </ng-template>
</p-dialog>