<p-toast></p-toast>
<div class="card flex justify-content-center">
    <p-card header="AttendeeApp" subheader="Login" [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="../../assets/Images/logo.png" />
        </ng-template>
        <div class="field">
            <input type="text" pInputText id="userName" placeholder="User name" [(ngModel)]="service.request.userName" required autofocus />
            <input type="text" pInputText id="password" placeholder="Password" [(ngModel)]="service.request.password" required />
        </div>
        <ng-template pTemplate="footer">
            <p-button label="Login" (click)="Login()"></p-button>
        </ng-template>
    </p-card>
</div>
