<div class="formgrid grid">
    <div class="field col-6">
        <label for="deviceId">deviceId</label>
        <input type="text" pInputText id="deviceId" [(ngModel)]="service.device.deviceId" required autofocus />
        <small class="p-error" *ngIf="service.submitted && !service.device.deviceId">Device is required.</small>
    </div>
    <div class="field col-6">
        <label for="confirmationCode">confirmation Code</label>
        <input type="text" pInputText id="confirmationCode" [(ngModel)]="service.device.confirmationCode" required />
        <small class="p-error" *ngIf="service.submitted && !service.device.confirmationCode">confirmation Code is required.</small>
    </div> 
</div>
<div class="field">
    <label for="notes">Notes</label>
    <textarea id="notes" pInputTextarea [(ngModel)]="service.device.notes" required rows="3" cols="20"></textarea>
</div>
