    <div class="card flex justify-content-center formCard">
        <div class="flex flex-wrap gap-3">
            <input type="hidden" name="id" id="id" [(ngModel)]="service.user.id">
            <div class="flex align-items-center">
                <p-radioButton name="role" value="1" [(ngModel)]="service.user.fkRoleId" inputId="fkRoleId1"></p-radioButton>
                <label for="fkRoleId1" class="ml-2">Admin</label>
            </div>
            <div class="flex align-items-center">
                <p-radioButton name="role" value="2" [(ngModel)]="service.user.fkRoleId" inputId="fkRoleId2"></p-radioButton>
                <label for="fkRoleId2" class="ml-2">Employee</label>
            </div>
        </div>
    </div>
    <div class="formgrid grid">
        <div class="field col-6">
            <label for="firstName">First Name</label>
            <input type="text" pInputText id="firstName" [(ngModel)]="service.user.firstName" required autofocus />
            <small class="p-error" *ngIf="service.submitted && !service.user.firstName">First Name is required.</small>
        </div>
        <div class="field col-6">
            <label for="lastName">Last Name</label>
            <input type="text" pInputText id="lastName" [(ngModel)]="service.user.lastName" required />
            <small class="p-error" *ngIf="service.submitted && !service.user.lastName">Last Name is required.</small>
        </div> 
        <div class="field col-6">
            <label for="name">User Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="service.user.userName" required />
            <small class="p-error" *ngIf="service.submitted && !service.user.userName">User Name is required.</small>
        </div> 
        <div class="field col-6">
            <label for="password">Password</label>
            <input type="text" pInputText id="password" [(ngModel)]="service.user.password" required />
            <small class="p-error" *ngIf="service.submitted && !service.user.password">Password is required.</small>
        </div>
        <div class="field col-6">
            <label for="email">E-mail</label>
            <input type="text" pInputText id="email" [(ngModel)]="service.user.email" required />
            <small class="p-error" *ngIf="service.submitted && !service.user.email">Password is required.</small>
        </div>
        <div class="field col-6">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" pInputText id="phoneNumber" [(ngModel)]="service.user.phoneNumber" />
        </div>
        <div class="field col-6">
            <label for="address">Address</label>
            <input type="text" pInputText id="address" [(ngModel)]="service.user.address" />
        </div>
        <div class="field col-6">
            <label for="weeklyHours">Weekly Hours</label>
            <input type="text" pInputText id="weeklyHours" [(ngModel)]="service.user.weeklyHours" required />
            <small class="p-error" *ngIf="service.submitted && !service.user.weeklyHours">Weekly Hours is required.</small>
        </div>
        <div class="field col-6">
            <label for="startDate">Start Date</label>
            <input type="date" pInputText id="startDate" [(ngModel)]="service.user.startDate" required />
            <small class="p-error" *ngIf="service.submitted && !service.user.startDate">startDate Hours is required.</small>
        </div>
        <div class="field col-6">
            <label for="endDate">End Date</label>
            <input type="date" pInputText id="endDate" [(ngModel)]="service.user.endDate" />
        </div>
        <div class="field col-6">
            <label for="startTime">Von</label>
            <input type="time" pInputText id="startTime" [(ngModel)]="service.user.startTime" required />
            <small class="p-error" *ngIf="service.submitted && !service.user.startTime">startTime is required.</small>
        </div>
        <div class="field col-6">
            <label for="endTime">Bis</label>
            <input type="time" pInputText id="endTime" [(ngModel)]="service.user.endTime" required />
            <small class="p-error" *ngIf="service.submitted && !service.user.endTime">endTime is required.</small>
        </div>
    </div>
    <div class="field">
        <label for="notes">Notes</label>
        <textarea id="notes" pInputTextarea [(ngModel)]="service.user.notes" required rows="3" cols="20"></textarea>
    </div>
