h2{
    color: #517ca4;
    font-weight: bold;
}
.card-container{
    width: 100%;
}
.vac-card{
    background-color: #f9fafb;
}
.cd-container{
    box-shadow: 1px 1px 10px  #bbb0e7;
}
.dates-font{
    font-size: 11px;
    color: gray;
}