 <p-toast></p-toast>
<div style="min-width: 85vw;">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <h2>Teilnahme</h2>
        </ng-template>
        <ng-template pTemplate="right">
            <button pButton pRipple (click)="openNew()" label="Abwesenheitsanfrage" icon="pi pi-plus" class="p-button-success mr-2"></button>
        </ng-template>
    </p-toolbar>
    <div class="grid">
       <div class="col-12 md:col-4">
           <div class="p-3 border-round-sm">
               <div class="col">
                   <app-clock></app-clock>
               </div>
                   <div class="px-6 col">
                       <p-button (click)="StartDay()" [disabled]="attnd!=null"  label="Allgemein" icon="pi pi-play" class="m-1" [text]="true" [raised]="true" severity="primary" pTooltip="Allgemein"></p-button>
                       <p-button (click)="EndDay()" [disabled]="attnd?.startDay==null||attnd?.endDay!=null" label="Beenden" icon="pi pi-stop" class="m-1" [text]="true" [raised]="true" severity="danger" pTooltip="Beenden"></p-button>
                   </div>
                   <div class="px-6 col">
                       <p><span class="font-bold text-primary">Start : </span> <span>{{ attnd?.startDay|date:'HH:mm:ss'}}</span></p>
                       <p><span class="font-bold text-primary">Beendet : </span> <span>{{ attnd?.endDay|date:'HH:mm:ss'}}</span></p> 
                    </div>
                   <div class="px-6 col">
                       <p-button (click)="StartBreak()" [disabled]="attnd?.startDay==null||attnd?.endDay!=null"  label="Pause" icon="pi pi-pause" class="m-1" [text]="true" [raised]="true" severity="success" pTooltip="Pause"></p-button>
                       <p-button (click)="EndBreak()" [disabled]="attnd?.startBreak==null||attnd?.endDay!=null" label="Pause beendet" icon="pi pi-replay" class="m-1" [text]="true" [raised]="true" severity="warning" pTooltip="Pause beendet"></p-button>
                   </div>
                   <div class="px-6 col">
                       <p><span class="font-bold text-primary">Von : </span> <span>{{ attnd?.startBreak|date:'HH:mm:ss'}}</span></p>
                       <p><span class="font-bold text-primary">Bis : </span> <span>{{ attnd?.endBreak|date:'HH:mm:ss'}}</span></p> 
                    </div>
               
           </div>
       </div>
       <div class="col-12 md:col-8">
           <div class="text-center p-3 border-round-sm">
               <p-dataView #dv [value]="vacations">
                   <ng-template pTemplate="list" let-vacation>
                       <div class="grid grid-nogutter cd-container">
                           <div class="col-12 vac-card"
                            *ngFor="let vac of vacations; let first = first">
                               <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4" [ngClass]="{ 'border-top-1 surface-border': !first }">
                                   <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                                       <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                                           <div class="text-2xl font-bold text-900">{{ vac.vacationDate|date:'dd.MM.yyyy' }}</div>
                                           <div class="flex align-items-center gap-3">
                                               <span class="flex align-items-center gap-2">
                                                   <i class="pi pi-tag"></i>
                                                   <span class="font-semibold">{{ vac.notes }}</span>
                                               </span>
                                               <p-tag [style]="{ 'background': vacationTypes[vac.vacationType-1].color}"
                                               [value]="vacationTypes[vac.vacationType-1].name"></p-tag>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </ng-template>
               </p-dataView>
           </div>
       </div>
      
   </div>
</div>

<p-dialog [(visible)]="vacService.vacationDialog" [style]="{ width: '50vw' }" header="Einzelheiten" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <app-vacation-form></app-vacation-form>
    </ng-template>
    
   <ng-template pTemplate="footer">
    <button pButton pRipple label="Löschen" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Speichern" icon="pi pi-check" class="p-button-text" (click)="saveVacation()"></button>
</ng-template>
</p-dialog>