<p-toast></p-toast>
<div class="card flex justify-content-center text-center">
    <p-card header="AttendeeApp" subheader="Code" [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="../../assets/Images/logo.png" />
        </ng-template>
        <div class="field text-center">
            <input type="text" pInputText placeholder="Confirmation code"
             id="confirmationCode" [(ngModel)]="confirmationCode" required autofocus />
        </div>
        <ng-template pTemplate="footer">
            <div class="text-center">
            <p-button label="Save" icon="pi pi-check" (click)="CheckDevice()"></p-button>
            </div>
        </ng-template>
        <a routerLink="/setdevice" class="text-sm">Change Code</a>
    </p-card>
</div>